:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0.5rem;
  min-height: 100%;
  border: solid 0.25rem;
  background-color: wheat;
}
header {
  text-align: center;
  text-decoration: underline;
}
header:hover {
  color: blue;
}
