:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0.5rem;
  min-height: 100%;
  border: solid 0.25rem;
  background-color: wheat;
}
header {
  text-align: center;
}
header:hover {
  color: blue;
  text-decoration: underline;
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
}

section h2:hover {
  color: blue;
  text-decoration: underline;
}
.player1 fieldset i {
  padding: 0.75rem;
  border: solid 0.1rem black;
  border-radius: 0.8rem;
  margin: 1rem;
}
.player2 fieldset i {
  padding: 0.75rem;
  border: solid 0.1rem black;
  border-radius: 0.8rem;
  margin: 1rem;
}

fieldset {
  border: solid 0.1rem black;
}
input {
  border: solid 0.1rem black;
  text-align: center;
}
